<p><%= link_to "Back", companies_path %></p>

<section class="product">

  <section class="product-info">
    <% cache @company do %>
      <h1><%= @company.name %></h1>
      <a href="<%= @company.website %>"><%= @company.website %></a>
    <% end %>


      <%= link_to "Edit", edit_company_path(@company) %>
  </section>
</section>
